@charset "UTF-8";

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.botoes{
    width: 50px;
}
.botoes a{
    display: block;
    text-decoration: none;
    color:white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    box-shadow:-2px 2px 4px black;
}
.botoes a:hover{
    transform: translate(10px);
    transition-duration: 0.3s;
    transition-delay: 0.1s;    
}
a > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.tela-celular{
    position: absolute;
    display: block;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 20px;
    width: 320px;
    height: 650px;
}
.frame{
    position: absolute;
    display: block;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 20px;
    width: 276px;
    height: 495px;
    min-width: 15vw;
    min-height: 20vh;
}
