@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background: url("imagens/fundo-madeira.jpg")  no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
section{
    display: inline-block;
}
#botoes a{
    display: block;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    position: relative;
    box-shadow:-2px 2px 4px black;
}
#botoes a:hover{
    transform: translate(10px);
    transition-duration: 0.3s;
    transition-delay: 0.1s;    
}
a > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
main{
    position: relative;
}
.tela-celular{
    background: url("imagens/frame-iphone.png") no-repeat;
    position: absolute;
    display: block;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 20px;
    width: 320px;
    height: 650px;
}
#tela{
    background: url(imagens/tela-home.jpg) no-repeat;
    position: absolute;
    display: block;
    margin: auto;
    background-size: cover;
    left: 49%;
    top: 48%;
    transform: translate(-50%,-50%);
    border: 20px;
    width: 270px;
    height: 480px;
}
.imagens{
    height: 100vh;
}